<nav class="navigation-menu-overlay__nav">
  <a
    class="navigation-menu-overlay__item"
    (click)="emitCategorySelected('Clothes')"
    >Clothes</a
  >
  <a
    class="navigation-menu-overlay__item"
    (click)="emitCategorySelected('Accessories')"
    >Accessories</a
  >
  <a
    class="navigation-menu-overlay__item"
    (click)="emitCategorySelected('Decoration')"
    >Decoration</a
  >
  <a
    class="navigation-menu-overlay__item"
    (click)="emitCategorySelected('Amigurumis')"
    >Amigurumis</a
  >
</nav>
