@import "material-icons/iconfont/material-icons.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

button {
  width: fit-content;
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  color: #333;
  span {
    font-size: 1rem;
  }
}

.md-18 {
  font-size: 1.125rem;
}

.md-32 {
  font-size: 2rem;
}

.md-48 {
  font-size: 3rem;
}

@media (min-width: 1024px) {
  button,
  a {
    cursor: pointer;
  }
  button:hover {
    opacity: 0.8;
  }
}
